<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366663200291-fe2kagb9apru93858dbnc1ff8ki8vsm8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366663200291-fe2kagb9apru93858dbnc1ff8ki8vsm8</string>
	<key>API_KEY</key>
	<string>AIzaSyA2RqhmbmHDrkT_4Y6-ticLBtYVHLwORQA</string>
	<key>GCM_SENDER_ID</key>
	<string>366663200291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tripApp</string>
	<key>PROJECT_ID</key>
	<string>facedetector-15fba</string>
	<key>STORAGE_BUCKET</key>
	<string>facedetector-15fba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366663200291:ios:2d4e2dec0493f173f7cb96</string>
</dict>
</plist>